form {
  background: #e9d362;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border: 20px solid #5f2c82;
}

input[type="text"] {
  margin: 5%;
  width: 50%;
  font-size: xx-large;
  text-align: center;
  border: 5px solid #fa8072;
  border-radius: 25%;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
}

input[type="text"]:focus {
  width: 50%;
  font-size: xx-large;
  text-align: center;
  box-sizing: border-box;
  border: 5px solid #49a09d;
  border-radius: 25%;
}

button {
  background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  color: #614385;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  cursor: pointer;
  border-radius: 20%;
}

button {
  font-size: xx-large;
  background: #1D2B64;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #516395;
  border: 5px solid #CC95C0;
}

button:hover {
  background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #DBD4B4;
}

p {
  font-size: xx-large;
  color: #7AA1D2;
}
